$primary-color: #5E0B15;
$secondary-color: #BC8034;
$text-color: #D9CAB3;
$font: Helvetica, sans-serif;

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: url(images/bcg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: $text-color;
    font-family: $font;
    font-weight: lighter;
    text-align: center;
    
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    h1 {
        margin-bottom: 0.5rem;
    }

    button {
        padding: 0.5rem;
        border-radius: 0.3rem;
        margin: 0.4rem 0.5rem;
        font-family: $font;
        border: none;
        font-weight: bold;

    
    }

    .btn {
        display: flex;
        flex-direction: column;
        
    }

    #increment-btn {
        background-color: $primary-color;
        
    }

    #save-btn {
        background-color: $secondary-color;
    }

    #save-el {
        font-style: bold;
    }
}

@media all and (min-width: 1200px) {
    .container{
        .btn {
            display: flex;
            flex-direction: row;
        }

       button {
        width: 12vw;
        margin: 0.7rem 0.5rem;
       }
    }
    
}


